html, body {
  height: 100%;
  margin: 0
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-spanner {
/* flex-grow: 1; */
  flex: 1 1 auto;
/*  background-color: green; */
}

.grid-main-content {
  grid-area: main;
}

.grid-sub-content {
  grid-area: sub;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 15% 1fr 15% 15%;
  grid-template-rows: 15% 15% 1fr 15% 15%;
  grid-template-areas:
    ". . .    .    ."
    ". . .    .    ."
    ". . main main ."
    ". . sub  sub  ."
    ". . .    .    ."
}


#motto {
  font-size: xx-large;
  font-family: 'Bai Jamjuree', sans-serif;
}

#submotto {
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}
