---
import Layout from '../layouts/Layout.astro';
import CenterCard from '../components/CenterCard.astro';
---
<Layout title="Andriy Mykhaylyk">
	<main>
		<CenterCard
			body="Solve. Improve. Repeat."
		/>
	</main>
</Layout>
